/*COLOR PALETTE
dk grey: 7F7C7B
coral: FF8250
cream: FFF9F6
brown: 7F685F
lt grey: CCC7C5
*/


h1, h2, h3 {
  font-family: 'Satisfy', cursive;
  color: #7F7C7B;
}

header h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 4em;

}

h4, h5, h6, p {
  font-family: 'Lato', sans-serif;
}


nav{
  margin: 0 0 0 0;
  position: static;
  display: inline-block;
  color: #7F7C7B;
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

table {

  width: 80%;
  border: .25em solid;
  border-color: grey;
}

div{
  margin: 1em;
}

th {
  color: grey;
}


form {
  width: 25%;
  padding: .25em;
}


#countdownBox {
  
}

#socialIcon {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  align-content: flex-end;
}

#frontPage {
  position: relative;
  display: inline-block;
  float: right;
  width: 60%;
  
}

#meetOswalds {
  width: 25%;
  padding-left: 2em;
  margin: 5px;
  position: absolute;
  display: inline-block;
  float: left;
  
}

.button {
    background-color: #FF8250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
  color: #FF8250;
}

label {
  display: inline-block;
  width: 5em;
  text-align: left;
}

input, textarea {
  width: 100%;
  border: 1px solid;
  border-color: grey;
}

footer {
  clear: both;
  padding-top: 3em;
  padding-left: ;
  align-content: center;
  
}
.img-circle {
    border-radius: 50%;
    width:  200px;
}

form {
  width: 25%;
  padding: .25em;
}


#countdownBox {
  
}

function initMap() {
  var uluru = {lat: -25.363, lng: 131.044};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: uluru});
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
      }


@media (max-width: 550px){
 
  nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0em;
  padding: .25em;
}
  nav li {
  width: 100%;
  list-style: none;
  display: block;
}

#socialIcon {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  align-content: flex-end;
}
.frontPage {
  display: inline-block;
  float: left;
}

aside {
  width: 25%;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  float: right;
}

.button {
    background-color: #FF8250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
  color: #FF8250;
}

label {
  display: inline-block;
  width: 5em;
  text-align: left;
}

input, textarea {
  width: 100%;
  border: 1px solid;
  border-color: grey;
}

footer {
  padding-top: 3em;
  padding-left: ;
  align-content: center;
  
}
/* FOR RESPONSIVE DESIGN*/
  
div {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
  
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}